.mainContainer {
  border-color: lightgray;
  border-width: 1px;
  border-style: solid;
  width: 374px;
  margin: 20px 20px 0 20px;
}
.inner-container {
  padding: 10px 20px 0px 20px;
}
.activity-image {
  width: 100%;
}
.title {
  font-size: 21px;
  color: #060646;
  font-family: 'Segoe UI';
  font-weight: bold;
}
.description {
  font-size: 18px;
  color: #7E7E7E;
  font-family: 'Segoe UI';
  padding-bottom: 10px;
  display: -webkit-box;
  max-width: 400px;
  height: 120px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.625;
}
.button {
  font-size: 17px;
  height: 42px;
  margin:0px 20px 12px 20px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  color:#060606;
  font-family: 'Segoe UI';
  font-weight: bold;
  padding:10px;
}
.activityBottomDetails{
  display: flex;
  height: 40px;
  flex-direction: row;
  justify-content: space-evenly;
  border-top-width: 1px;
  border-top-color: lightgray;
  border-top-style: solid;
}
.seperator{
  border: 1px;
  border-color: lightgray;
  border-style: solid; 
}
.details{
  font-size:16px;
  padding-top:8px;
  font-family: 'Segoe UI';
  font-weight: bold;
  color:black
}
.hourDetails{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
