.mainContainer{
   border-color:lightgray;
    border-width: 1px;
    border-style: solid;
    width: 374px;
    margin:20px 20px 0 20px;
}
.inner-container{
    padding: 10px 20px 0px 20px;
}
.activity-image{
    width:100%
}
.title{
    font-size: 21px;
    color: "#060606";
}
.description{
    font-size:18px;
    color: "#7E7E7E";
    padding-bottom:10px;
    
}
.button {
    font-size:17px;
    margin:0px 20px 12px 20px;
    height:42px;
    border-color:black;
    border-width: 1px;
    border-style: solid;
    background-color: white;
}
.activityBottomDetails{
    display: flex;
    height: 40px;
    flex-direction: row;
    justify-content: space-evenly;
    border-top-width: 1px;
    border-top-color: lightgray;
    border-top-style: solid;
}
.seperator{
    border: 1px;
    border-color: lightgray;
    border-style: solid; 
}
.details{
    font-size:16;
    padding-top:8px
}
.hourDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}