* {
  margin: 0%;
  padding: 0%;
}
.header {
  .transparent-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
  }
  .link-text {
    color: white;
  }
}
